<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'client/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap">
    <style>
    body {
    background: url({% static 'client/images/back1.jpg' %}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }
    .container{
        font-family: 'Nova Round', cursive;
        font-size: 23px;
    }

</style>
</head>
<body>
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark">
<div class="container">
    <a href="#" class="navbar-brand">
    <img src="{% static 'client/images/logo.png' %}" class="logo">
        </a>


    {% block logo-text %}
    {% endblock %}
   <div id="navbarMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item-active"><a href="{% url 'index-client' %}" class="nav-link">Strona główna</a></li>
            <li class="nav-item"><a href="{% url 'repertoire-list-client' %}" class="nav-link">Repertuar</a></li>
            <li class="nav-item"><a href="{% url 'price-list-client' %}" class="nav-link">Cennik</a></li>
            <li class="nav-item"><a href="{% url 'about-client' %}" class="nav-link">O kinie</a></li>
            <li class="nav-item"><a href="{% url 'contact-client' %}" class="nav-link">Kontakt</a></li>
        </ul>
    </div>
</div>
</nav>
<br>
<div class="container-bg">

{% block content %}
{% endblock %}
</div>
</body>
</html>