{% extends 'client/base.html' %}
{% block head %}
    <title>O kinie</title>
{% endblock %}

{% block logo-text %}
    <h1 class="logo-text">O kinie</h1>
{% endblock %}

{% block content %}


 <div class="card-deck">
<div class="card">
     <div style='float:left'>
        <img src='../../static/client/images/okinie/cinema.jpg' width="300" height="150">
    </div>
<div class="card-body">
    <h5 class="card-title"> KIM JESTEŚMY?</h5>
    <p class="card-text">
            Kino Movie City znajduje się na Dolnym Śląsku, w samym sercu miasta. W miejscu, do którego bez problemu
            dotrzesz z każdego miejsca w mieście.</p>
</div>
</div>
<div class="card">
      <div style='position:absolute; left:40%'>
        <img src='../../static/client/images/okinie/cinema2.jpg' width="300" height="150">
    </div>
<div class="card-body">
    <h5 class="card-title"> CO OFERUJEMY?</h5>
    <p class="card-text">
            Kino oferuje widzom największe filmowe hity, przedpremierowe pokazy i uroczyste premiery. Organizuje również
            szereg imprez, takich jak: Walentynki, Ferie, Dzień Dziecka i inne spotkania okolicznościowe.
            <br>
            Jesteśmy nastawieni na pokazy największych klasyków kinowych, aby każdy kinomaniak mógł sobie je przypomnieć
            razem z nami!</p>
</div>

</div>
<div class="card">
      <div style='float:right'>
        <img src='../../static/client/images/okinie/cinema3.jpg' style='float:right' width="300" height="150">
    </div>
<div class="card-body">
    <h5 class="card-title"> JAK WYGLĄDA KINO?</h5>
    <p class="card-text">
              Niepowtarzalna atmosfera i klimat wnętrza sprawia, że kino cieszy się dużą popularnością. Dodatkowym atutem
            kina są super wygodne dwuosobowe kanapy, które znajdują się w ostatnich rzędach każdej z sal.</p>
</div>

</div>
</div>
    <div style='float:left'>
        <img src='../../static/client/images/okinie/cinema.jpg' width="300" height="150">
    </div>
    <div style='position:absolute; left:40%'>
        <img src='../../static/client/images/okinie/cinema2.jpg' width="300" height="150">
    </div>
    <div style='float:right'>
        <img src='../../static/client/images/okinie/cinema3.jpg' style='float:right' width="300" height="150">
    </div>
    <div style="clear:both"></div>
    <br>
{% endblock %}